hr {
	height: 1px;
	color: #000000;
	background: #000000;
	font-size: 0;
	border: 0;
}
div.more-padding{
	padding-top: 32px;
}
div.center{
	text-align: center;
}

button.btn, .alert {
	margin-top: 5px;
	margin-bottom: 5px; 
}

h1.standout-white{
	font-family: 'Raleway',sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-align: center;
	text-transform: uppercase;
	color:white;
}
h2.standout-white {
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	margin: 0 0 24px;
	text-align: center;
	text-transform: uppercase;
	color:white;
}
h1.standout-black{
	font-family: 'Raleway',sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-align: center;
	text-transform: uppercase;
	color:black;
}
h2.standout-black {
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	margin: 0 0 24px;
	text-align: center;
	text-transform: uppercase;
	color:black;
}
p.standout-black {
	color: #black;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
	margin: 0 0 24px;
}
h2.standout-purple {
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	margin: 0 0 24px;
	text-align: center;
	text-transform: uppercase;
	color:#880E4F;
}

.rightText {
	text-align: right;
}

.leftText {
	text-align: left;
}

.rightDiv {
	float: right;
}

.centreDiv{
	margin: auto;
	text-align: center;
}

.no-margin {
	margin: 0%;
}

body {
	overflow-x: hidden;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.table {
	table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}
