hr {
	height: 1px;
	color: #000000;
	background: #000000;
	font-size: 0;
	border: 0;
}
div.more-padding{
	padding-top: 32px;
}
div.center{
	text-align: center;
}
h1.standout-white{
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 24px; 
	text-align: center; 
	text-transform: uppercase;
	color:white;
}
h2.standout-white {
	font-family: 'Raleway',sans-serif; 
	font-size: 30px; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 0 0 24px; 
	text-align: center; 
	text-transform: uppercase;
	color:white; 
}
h1.standout-black{
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 24px; 
	text-align: center; 
	text-transform: uppercase;
	color:black;
}
h2.standout-black {
	font-family: 'Raleway',sans-serif; 
	font-size: 30px; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 0 0 24px; 
	text-align: center; 
	text-transform: uppercase;
	color:black; 
}
p.standout-black { 
	color: #black; 
	font-family: 'Raleway',sans-serif; 
	font-size: 18px; 
	font-weight: 500; 
	line-height: 32px; 
	margin: 0 0 24px; 
}

.rightText {
	text-align: right;
}

.leftText {
	text-align: left;
}

.rightDiv {
	float: right;
}

.centreDiv{
	margin: auto;
	text-align: center;
}

.no-margin {
	margin: 0%;
}

body {
	overflow-x: hidden;
}


